
<!--div class="mt-4">
  <div>
    <h3>Add a comment:</h3>

    <form class="form update-comment-form">
      <div class="form-group">
        <textarea
          class="form-input"
          id="comment-body"
          name="comment-desc"
        ></textarea>
      </div>
      <div class="form-group">
        <button
          id="saveBtn"
          type="submit"
          class="btn btn-primary"
          data-id="{{post_id}}"
        >Save</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/add-comment.js"></script-->